* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 200vh;
}

body {
    height: 100%;
    padding: 20px;
}

div {
    padding: 20px;
}

p + p {
    margin-top: 20px;
}

div.section {
    border: 2px solid black;
}

div.section + div.section {
    margin-top: 20px;
}

div.section > div {
    background-color: grey;
}

div.section > div + div {
    margin-top: 20px;
}

/* WIDTHS */

.w-half {
    width: 50%;
}

.w-max-720 {
    max-width: 720px;
}

.w-min-720 {
    min-width: 720px;
}

/* HEIGHTS */

.h-half {
    height: 50vh;
}

.h-max-240 {
    max-height: 240px;
}

.h-min-240 {
    min-height: 240px;
}

/* FONT STYLES */

.text-italic {
    font-style: italic;
}

.text-large {
    font-size: 24px;
}

.text-lighter {
    font-weight: lighter;
}

.text-bolder {
    font-weight: bolder;
}

.font-sans {
    font-family: sans-serif;
}

.font-serif {
    font-family: serif;
}

.font-mono {
    font-family: monospace;
}

.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.text-red {
    color: red;
}

/* BACKGROUND */

div.section > .bg-red {
    background-color: red;
}

.bg-image {
    background: url("assets/background.jpg");
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-center {
    background-position: center;
}

/* BORDER */
.border {
    border: 5px solid black;
}

.border-dotted {
    border-style: dotted;
}

.border-red {
    border-color: red;
}

.border-widths {
    border-width: 5px 10px 15px 20px;
}

.border-colors {
    border-color: red blue green orange;
}

.border-rounded {
    border-radius: 999px;
}

.arrow {
    background-color: transparent !important;
    height: 0;
    padding: 0;
    width: 0;
}

.arrow-right {
    border-color: transparent transparent transparent black;
    border-width: 20px 0 20px 50px;
}

.arrow-left {
    border-color: transparent black transparent transparent;
    border-width: 20px 50px 20px 0;
}

.arrow-down {
    border-color: black transparent transparent transparent;
    border-width: 50px 20px 0 20px;
}

.arrow-up {
    border-color: transparent transparent black transparent;
    border-width: 0 20px 50px 20px;
}

/* LINE HEIGHT */

.lh-10 {
    line-height: 10px
}

.lh-20 {
    line-height: 20px;
}

.lh-30 {
    line-height: 30px;
}

.lh-2em {
    line-height: 2em;
}

.lh-2rem {
    line-height: 2rem;
}

/* FLOAT */

div.section > div.container {
    background-color: initial;
    padding: 0;
}

div.container > div.square {
    background-color: red;
    border: 2px solid black;
    height: 50px;
    width: 50px;
}

.clearfix {
    overflow: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* POSITION AND Z-INDEX */

div.section > div.fixed {
    background-color: red;
    position: fixed;
    right: 50px;
    top: 50px;
}

.relative {
    position: relative;
}

.always-on-top {
    z-index: 1;
}

/* DISPLAY */

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

div.section .rectangle {
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px;
    width: 200px;
}

/* BUTTON AND HOVER */
.button {
    background-color: black;
    border: 2px solid green;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    height: 50px;
    padding: 5px 10px;
}

.on-hover:hover {
    background-color: green;
    border-color: black;
    border-radius: 20px;
    height: 250px;
    transition: height 10s ease 1s;
}